body.black-bg {
    background-color: #ffffff;
}

#clock {
    width: 60%;
    height: auto;
}

#clock circle {
    fill: none;
    stroke: rgb(0, 0, 0);
    stroke-width: 2;
}

.hour-hand,
.minute-hand,
.second-hand {
    stroke: rgb(0, 0, 0);
    stroke-width: 2;
    stroke-linecap: round;
}

.hour-hand {
    stroke-width: 3;
}
